@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div>Hello @UserManager.GetUserName(User)!</div>
            <form asp-action="Logout" asp-controller="Account">
                <input type="submit" value="Logout" />
            </form>
        }
        else 
        {
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">註冊帳號</a>
        }
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        @RenderSection("footer", false)
        @await Component.InvokeAsync("Greeting")
    </footer>
</body>
</html>