@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">OdeToFood</a>
        </div>
        <div class="navbar navbar-nav navbar-right">
        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-action="Logout" asp-controller="Account"
                class="navbar-form">
                Hello @UserManager.GetUserName(User)!
                <input type="submit" value="Logout" class="btn btn-danger" />
            </form>
        }
        else 
        {
            <a class="btn btn-default btn-xs navbar-btn" asp-controller="Account" asp-action="Login">Login</a>
            <a class="btn btn-default btn-xs navbar-btn" asp-controller="Account" asp-action="Register">註冊帳號</a>
        }
        </div>
        </div>
    </nav>
    
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        @RenderSection("footer", false)
        @await Component.InvokeAsync("Greeting")
    </footer>

    <environment names="Development">
        <h3>Development</h3>
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>

    <environment names="Stagin, Production">
        <h3>Production</h3>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"
            asp-fallback-src="/node_modules/jquery/dist/jquery.js"
            asp-fallback-test="window.jQuery">
        </script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="/node_modules/jquery-validation/dist/jquery.validate.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
</body>
</html>