@model OdeToFood.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Index";
}

<h1>Welcome!</h1>
<h3>@Model.CurrentGreeting</h3>
<div>
    This is the home page. <br />
    <table>
        @foreach(var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@Html.ActionLink(restaurant.Id.ToString(), "Details", new { id = restaurant.Id })</td>
                <td>@restaurant.Name</td>
            </tr>
        }
    </table>
</div>
