@model OdeToFood.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Index";
}

<h1>Welcome!</h1>
<h3>@Model.CurrentGreeting</h3>
<div>
    This is the home page. <br />
    <table>
        @foreach(var restaurant in Model.Restaurants)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@restaurant.Id">Detail for @restaurant.Id</a>
                </td>
                <td>@restaurant.Name</td>
            </tr>
        }
    </table>
    <a href="/home/create">Create</a>
    <a asp-action="Create">Create 2</a>
    <!--<a asp-controller="Home" asp-action="Create">Create 2</a>-->
</div>
